* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F1DEC6;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.user-icon i {
    width: 30px;
}

.arrow-icon {
    position: absolute; /* Atau relative tergantung kebutuhan */
    left: 100px; /* Jarak dari kiri */
    font-size: 32px;
    top: 120px;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #F1DEC6;
}

.container {
    background-color: #F1DEC6;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

h1 span {
    color: #E98325;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.btn-generate {
    background-color: #E98325;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-generate {
    background-color: #E98325;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Tambahkan transisi halus */
}


.btn-generate:hover {
    background-color: #D1721D; /* Ubah warna saat di-hover */
    transform: scale(1.05); /* Sedikit memperbesar tombol saat di-hover */
}

