body {
    font-family: Arial, sans-serif;
    background-color: #F1DEC6;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.user-icon i {
    width: 30px;
}

.containerr {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #F1DEC6;
    height: 100%;
}

.header {
    font-size: 36px;
    color: #E98325;
    margin-bottom: 10px;
    font-weight: bold;
}

.sub-header {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
    font-weight: bold;
}

.diagram img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.button-group button {
    background-color: #E98325;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    margin: 0 auto;
}

.button-group button:hover {
    background-color: #D1721D; /* Ubah warna latar belakang saat di-hover */
    transform: scale(1.05); 
}

.generate-class-diagram {
    margin-top: 20px;
}

.generate-class-diagram button {
    background-color: #E98325;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.generate-class-diagram button:hover {
    background-color: #D1721D; /* Ubah warna latar belakang saat di-hover */
    transform: scale(1.05); 
}
